{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="page-section">
  <div class="container" style="width:100%">
    <div class="bg-faded p-5 d-flex ml-auto rounded">
<p>Canteen Management System helps to simplify the canteen management operations. It supports a well-defined set-up supporting multiple users with discreet access allocation. The system bridges the gap between canteen and its usage, in a smart and effective manner, with an added advantage of going paperless, to manage excessive numbers.
                <br/>This package shall prove to be a powerful package in satisfying all the requirements.This software is supported to
eliminate and in some cases reduce the hardships faced by the existing system.</p>
 </div>
       </div>
</section>

      <section class="page-section">
  <div class="container" style="width:100%">
    <div class="bg-faded p-5 d-flex ml-auto rounded">
      <div class="row" >
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{%static ' http://placehold.it/200x200' %}" alt="">
          <h3>Athira Lagi </h3>
          <p>S5R,CSE,MA college</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
         
          <h3>Elizabeth George </h3>
          <p>S5R,CSE,MA College</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
         
          <h3>Reshma Revi </h3>
          <p>S5R,CSE,MA College</p>
        </div>
       </div>
</div>
</div>
</section>

{%  endblock %}