{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>order</title>
  <style>
table, th, td {


}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
table#t01 th {
    background-color: grey;
    color: white;
}
</style>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<section class="page-section">
  <div class="container" style="width:40%">
<div class="bg-faded  d-flex ml-auto rounded">
<h2 class="section-heading mb-0">
<span class="section-heading-lower" width="50%" height="10%" text>Create Menu Item</span>
</h2>
</div>

<form class="col-lg-6 col-lg-8 " method="POST">
  {% csrf_token %}
  <p>{{form|crispy}}</p>
  <button type="submit" class=" col-lg-10  btn btn-success" >Save</button>
</form>
<br><br><br>
<div>

<div>
</section>
  
{%  endblock %}
